<div id="resume">
  <div id="resume-inner">
    <h1>Cody Jack Stewart</h1>
    <aside>
      Atlanta, GA - <a href="mailto:cjstewart88@gmail.com">cjstewart88@gmail.com</a>
    </aside>
    
    <section id="about">
      <h2><span class="icon-user"></span> About</h2>

      <p>
        I'm a passionate, dedicated, and self-taught software engineer. My focus is the web, and I strive to create the best combination of product design and user experience. I believe those tenets are the the key factor for internet applications today, and my passion is creating experiences that attract and retain users.
      </p>
    </section>

    <section id="skills">
      <h2><span class="icon-beaker"></span> Skills</h2>

      <h3>Core</h3>
      <ul id="core-skills">
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Ruby on Rails</li>
        <li>SQL</li>
      </ul>

      <h3>Extensions/Libraries</h3>
      <ul id="subset-skills">
        <li>HAML</li>
        <li>SASS</li>
        <li>jQuery</li>
      </ul>
    </section>

    <section id="experience">
      <h2><span class="icon-briefcase"></span> Experience</h2>

      <h3>Software Engineer, Oracle <span>July 2012 - Present (Oracle aquired Vitrue in the summer of 2012.)</span></h3>
      <ul>
        <li>
          Fullstack engineer with a heavy focus and specialization in frontend work and user experience.
        </li>

        <li>
          Core team member and frontend specialist for Vitrue's Analytics application (as described below).
        </li>

        <li>
          Conceived and developed an internal platform gem leveraging Rails Engine and Asset Pipeline to 
          unify platform design, enable faster platform-wide changes, and reduce redundant development efforts.
        </li>
      </ul>

      <h3>Software Engineer, Vitrue Inc. <span>March 2011 - July 2012</span></h3>
      <ul>
        <li>
          Fullstack engineer with a heavy focus and specialization in frontend work and user experience.
        </li>

        <li>
          Core team member and frontend specialist for Vitrue's Analytics application which is responsible 
          for reporting on hundreds of different metrics spanning accross Facebook and Twitter. My 
          main efforts, being the presentational layer, were bringing amazing data visualization and application usability.
        </li>

        <li>
          Frontend specialist brought in on Vitrue's Accounts application to bring the application
          to a releasable state, making sure the user's experience was top notch and ensured the application
          followed strict UI design, down to ever pixel.
        </li>

        <li>
          Lead developer of Vitrue's Global CSS project, an internal project that layed the presentational 
          foundation and reduced redundant tasks across teams. I developed CSS, Javascript, and HTML templates 
          used platform wide to ease frontend development for current and future applications.
        </li>
      </ul>
    </section>

    <section id="Tubalr">
      <h2><span class="icon-music"></span> Tubalr</h2>
      
      <p>
        Tubalr (<a href="http://www.Tubalr.com/" target="_blank">www.Tubalr.com</a>) is a super simple way to enjoy all the great music content on YouTube, in a way you would enjoy music on Spotify, Pandora, or Rdio. I started Tubalr September 2010 and it has been a big part of my life ever since. I have had my hands on it all, from the user interface to the backend code. At its peak, Tubalr has had over <b>3,900 concurrent</b> users and has recieved over <b>200,000 visits in a single day</b>... all while <b>costing only $25 a month</b>. As it stands today, there are over 20,000 registered users and over 700,000 searches made. Tubalr has received attention through several media outlets accross the web, here are a few that stand out to me:
      </p>

      <ul>
        <li>Masable: <a href="http://www.mashable.com/2012/01/03/tubalr-music-player/" target="_blank">mashable.com/2012/01/03/tubalr-music-player/</a></li>
        <li>Fast Company: <a href="http://www.fastcompany.com/3003472/meet-tubalr-music-video-player-just-blew-thanks-reddit" target="_blank">fastcompany.com/3003472/meet-tubalr-music-video-player-just-blew-thanks-reddit</a></li>
        <li>TechCrunch: <a href="http://techcrunch.com/2011/12/29/tubalr-is-like-having-your-own-personal-80s-mtv/" target="_blank">techcrunch.com/2011/12/29/tubalr-is-like-having-your-own-personal-80s-mtv/</a></li>
        <li>The Next Web: <a href="http://thenextweb.com/apps/2011/12/04/turn-youtube-into-a-slick-jukebox-with-web-app-tubalr/" target="_blank">thenextweb.com/apps/2011/12/04/turn-youtube-into-a-slick-jukebox-with-web-app-tubalr/</a></li>
        <li>The Verge: <a href="http://www.theverge.com/2011/12/29/2669471/tubalr-automatically-creates-youtube-music-video-playlists" target="_blank">theverge.com/2011/12/29/2669471/tubalr-automatically-creates-youtube-music-video-playlists</a></li>
        <li>Lifehacker: <a href="http://www.lifehacker.com/5964189/tubalr-builds-shareable-playlists-from-youtube-music-content" target="_blank">lifehacker.com/5964189/tubalr-builds-shareable-playlists-from-youtube-music-content</a></li>
        <li>Reddit (front page): <a href="http://redd.it/13vvcm" target="_blank">http://redd.it/13vvcm</a></li>
      </ul>
    </section>

    <section id="education">
      <h2><span class="icon-book"></span> Education</h2>
      B.S., Information Technology , Focus: Web Programming <br/>
      Macon State College, Macon, GA <br/>
      Fall 2007 - Spring 2011  GPA 3.25
    </section>
  </div>
</div>