<!DOCTYPE html>
<html>
  <head>
    <title>Cody Jack Stewart</title>
    <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Raleway:900", "http://fonts.googleapis.com/css?family=Open+Sans:400,700"  %>
    <%= javascript_include_tag "application"  %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main">
      <div id="main-inner">
        <header>
          <div id="me"></div>
          <div id="name">Cody Jack Stewart</div>
          <div id="what-i-am">Crafter. Thinker. Solver.</div>
        </header>
        
        <section id="about">
          I've been tinkering on the web for as long as I can remember, it's what I do. Crafting web applications is
          an art and it's something I take pride in doing, so I do it with care and have high expectactions.
        </section>

        <section id="something-i-made">
          Checkout <a href="http://www.tubalr.com/" target="_blank">Tubalr</a>, if you want to see something I've made. It's been my side project for the past 2 years and was featured on <a href="http://mashable.com/2012/01/03/tubalr-music-player/" target="_blank">Mashable</a>, <a href="http://thenextweb.com/apps/2011/12/04/turn-youtube-into-a-slick-jukebox-with-web-app-tubalr/?fromcat=all" target="_blank">The Next Web</a>, and several other outlets.
        </section>

        <section id="find-me">
          <a href="mailto:cjstewart88@gmail.com"><button id="work-with-me">Want to work with me?</button></a>
          <a href="http://www.github.com/cjstewart88" target="_blank"><button id="github"><span class="icon-github"></span></button></a>
          <a href="http://www.twitter.com/codyjackstewart" target="_blank"><button id="twitter"><span class="icon-twitter"></span></button></a>
        </section>
        <%= yield %>
      </div>
    </div>
  </body>
</html>